@mixin accordion-base {
  .accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: $base-padding * 1.5;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: $font-size-lg;
    transition: 0.4s;
    margin: 0;
    border-radius: $base-border-radius;
  }

  .active,
  .accordion:hover {
    background-color: #ddd;
    color: #000;
  }

  .panel {
    padding: $base-padding * 2;
    display: none;
    border-radius: $base-border-radius;
    background-color: #eee;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: $font-size-lg;
  }
  .accordion:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: $font-size-lg;
    color: #777;
    float: right;
    margin-left: $base-margin * 0.5;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
}

.accordion-container-shadow {
  @include accordion-base();
  .accordion {
    box-shadow: $base-box-shadow;
  }
}

.accordion-container-bordered {
  @include accordion-base();
  .accordion {
    border: $base-border-thickness solid #ccc;
  }
  .panel {
    border: $base-border-thickness solid #ccc;
  }
}

// accordian type2

.accordionWrapper {
  .accordionItem {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .accordionItemHeading {
    cursor: pointer;
    margin: 0 0 1rem 0;
    padding: $base-padding;
    width: 100%;
    -webkit-border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    box-sizing: border-box;
  }
  .close .accordionItemContent {
    height: 0;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
  }
  .open .accordionItemContent {
    padding:$base-padding * 2;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0 0 $base-margin 0;
    display: block;
    transition: transform 0.4s ease;
    box-sizing: border-box;
  }

  .open .accordionItemHeading {
    margin: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// accordian type 3

.accordion {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;

	&__item {
		padding: 1rem;
		background: #eee;
		position: relative;
		border-radius: $base-border-radius;
		width: 100%;
		cursor: pointer;

		&:after {
			position: absolute;
			right: 1rem;
			content: "+";
			font-size: 2.4rem;
			top: 1rem;
		}

		&.open:after {
			content: "-";
		}

		p {
			margin-top: 1rem;
		}

		&:not(.open) p {
			display: none;
		}
	}
}