@mixin accordion-base {
    .accordion {
      background-color: #fff;
      color: #000;
      cursor: pointer;
      padding: $base-padding * 1.5;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: $base-font-size;
      transition: 0.4s;
      margin: $base-margin 0;
      border-radius: $base-border-radius;
    }
    
    .active, .accordion:hover {
      background-color: #ddd; 
      color: #000;
    }
    
    .panel {
      padding: $base-padding * 2;
      display: none;
      border-radius: $base-border-radius;
      background-color: #eee;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    .accordion:after {
      content: '\02795'; /* Unicode character for "plus" sign (+) */
      font-size: $base-font-size;
      color: #777;
      float: right;
      margin-left: $base-margin * 0.5;
    }
    
    .active:after {
      content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
}

.accordion-container-shadow{
  @include accordion-base();
  .accordion{
    box-shadow: $base-box-shadow;
  }
}
  
.accordion-container-bordered{
  @include accordion-base();
  .accordion{
    border: $base-border-thickness solid #ccc;
  }
  .panel{
    border: $base-border-thickness solid #ccc;
  }
}
  