/* Slideshow container */
.slideshow-container {
    max-width: 50rem;
    width: 100%;
    position: relative;
    margin: auto;
    img{
      border-radius: $base-border-radius;
    }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding:$base-padding;
    margin-top: -$base-margin;
    color: white;
    font-weight: bold;
    font-size: $base-font-size;
    transition: 0.6s ease;
    border-radius: 0 $base-border-radius $base-border-radius 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  }

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height:1rem;
    width:1rem;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade1 {
    animation-name: fade1;
    animation-duration: 4s;
  }
  
  @keyframes fade1 {
    from {opacity: .8} 
    to {opacity: 1}
  }

  