@mixin btn($bg-color: #eee){
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        border: 0;
        padding: $base-padding $base-padding*2;
        border-radius: $base-border-radius;
        background: $bg-color;
}

.btn{
    @include btn; 
}

@each $key, $val in $colors {
    .btn-#{$key}{
        @include btn($val);
        &:hover{
            background-color: lighten($val, 5);
            color: #fff;
            transition: 0.3s ease;
        }
    }
    .btn-rounded-#{$key}{
        @include btn($val);
        border-radius:$base-border-radius * 5 ;
        &:hover{
            background-color: lighten($val, 5);
            color: #fff;
            transition: 0.3s ease;
        }
    }
    .btn-sharp-#{$key}{
        @include btn($val);
        border-radius: 0 ;
        &:hover{
            background-color: lighten($val, 5);
            color: #fff;
            transition: 0.3s ease;
        }
    }
    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
            color: white;
            transition: 0.3s ease;
        }
    }
    .btn-rounded-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        border-radius:  $base-border-radius * 5;
        &:hover{
            background-color: $val;
            color: white;
            transition: 0.3s ease;
        }
    }
    .btn-sharp-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        border-radius: 0;
        &:hover{
            background-color: $val;
            color: white;
            transition: 0.3s ease;
        }
    }
    .btn-complement-#{$key}{
        @include btn(#fff);
        background-color: light-comp($val);
        &:hover{
           color: light-comp($val);
           background-color: $val;
           transition: 0.3s ease;
        }
    }
}