@use 'sass:math';
@mixin card-base{
    display: block;
    padding: $base-padding;
    border-radius: $base-border-radius;
    p,h1,h2,h3,h4,h5,h6{
        margin-bottom: $base-margin;
    }
    .card-img{
        margin-bottom: $base-margin;
        img{
            width: 100%;
            border-radius: $base-border-radius;
        }
    }
    .card-icon-round{
            width:3.75rem;
            height:3.75rem;
            margin: 0 auto;
            margin-top: -$section-margin-sm;
            margin-bottom: $base-margin;
            border-radius: 50%;
            padding: $base-padding * 1.5;
            background: #fff;
            box-shadow: $base-box-shadow;
    }
    .card-title{
        font-size:$font-size-lg;
        padding-bottom: $base-padding 0;
        font-weight: bold;
    }
    .card-body{
        font-size: $base-font-size;
        a{
            text-decoration: underline;
        }
        button{
            width: 100%;
        }
    }
}

.card{
    @include card-base();
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    .card-title{
        margin-bottom: $base-margin;
    }
}

.card-colored{
    @include card-base();
    text-align: center;
    box-shadow: $base-box-shadow;
    hr{
        margin: $base-margin 0;
    }
}