@mixin floating-btn-base {
    position: fixed;
    bottom: $base-margin * 3;
    right: $base-margin;
    z-index:99 ;
    width: 5rem;
    height: 5rem;
    padding:1.5rem;
}

.floating-btn{
    @include floating-btn-base();
}
.floating-btn-rounded{
    @include floating-btn-base();
    border-radius: 50%;
}