@mixin form-base{
    width:100%;
    padding: $base-padding;
    border-radius: $base-border-radius;
    .form-title{
        text-align: center;
        margin-bottom: $base-margin;
        font-size:$font-size-lg;
    }
    .form-input{
        width: 100%;
        padding:$base-padding;
        border-radius:$base-border-radius;
        font-size: $font-size-lg;
    }
    .form-phone-group{
        display: flex;
        select{
            margin-right: $base-margin;
        }
    }
    button{
        width: 100%;
    }
    ::placeholder{
        font-size: $font-size-lg;
    }
}

.form{
    @include form-base();
    .form-input{
        border: $base-border-thickness solid #ccc;
        outline: none;
    }
}

.form-border-bottom{
    @include form-base();
    .form-input{
        border-radius: 0;
        border: none;
        border-bottom: $base-border-thickness solid #ccc;
        outline: none;
    }
}