@mixin navbar-base {
    box-shadow: $base-box-shadow;
    z-index: 9;
    .navbar-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $base-padding ;
        .nav-logo{
            width: 12rem;
        }
    }
    .navbar-content-centered{
        @extend .navbar-content;
        justify-content: center;
    }
}

.simple-navbar{
    @include navbar-base();
}

.simple-navbar-fixed{
    @extend.simple-navbar;
    width: 100%;
}

.responsive-navbar{
    @include navbar-base();
    @extend .simple-navbar;
    width: 100%;
    .nav-links{
        a{
            margin-right: $base-margin;
        }
        a:hover{
            opacity: 0.5;
            transition: 0.3s ease;
        }
        .nav-link{
            margin-left: $base-margin;
        }
    }
}
