@mixin sidenav($nav-color: #000){
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:$section-padding-sm;
  box-shadow: $base-box-shadow ;
  background: $nav-color;
  a {
      text-decoration: none;
      padding: $base-padding 0;
      display: block;
      border-bottom: $base-border-thickness solid #00000024;
      transition: 0.3s;
      text-align: center;
      color: #000;
    }
     a:hover {
      color: #ddd;
    }
    
     .closebtn {
      position: absolute;
      top: 1.5rem;
      right: 3rem;
      margin-left: $section-margin-sm;
      border: none;
    }
}

.sidenav-right {
  @include sidenav();
}

.sidenav-left {
  @include sidenav();
  left: 0;
}
.sidenav-right-light {
  @include sidenav();
  background-color: #fff;
  a{
    color: #000;
  }
}

.sidenav-left-light {
  @include sidenav();
  left: 0;
  background-color: #fff;
    a{
      color: #000;
    }
}
.sidenav-right-dark {
  @include sidenav();
  background-color: #000;
  a{
    color: #fff;
    border-bottom: $base-border-thickness solid #e9e9e67d;
  }
}

.sidenav-left-dark {
  @include sidenav();
  left: 0;
  background-color: #000;
  
  a{
    color: #fff;
    border-bottom: $base-border-thickness solid #e9e9e67d;
  }
}

  @each $key, $val in $colors {
    .sidenav-right-#{$key} {
      @include sidenav();
      background-color: lighten($val, 5);
    }
   
    .sidenav-left-#{$key} {
      @include sidenav();
      left: 0;
      background-color: lighten($val, 5);
    }
  }
   