.speed-dial {
    position: fixed;
    bottom: 10%;
    right: 5%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    .speed-dial-icon {
        i {
            padding: 16px;
            background: cornflowerblue;
            color: #fff;
            font-size: 20px;
            border-radius: 8px;
            text-align: center;
        }
    }
    .speed-dial-item {
        flex-direction: column;
        gap: 20px;
        display: none;
        text-align: center;
    }

    .speed-dial-item i {
        padding: 18px;
        background: #ffffff;
        width: auto;
        border-radius: 8px;
        text-align: center;
        border: 1px solid #ccc;
    }
    i.close{
        display: none;
    }
}
.speed-dial.open {
    i.open{
        display: none;
    }
    i.close{
        display: block;
    }
}
