/* Style the tab */
.tab {
    overflow: hidden;
    border: $base-border-thickness solid #ccc;
    background-color: #f1f1f1;
    padding: $base-padding;
    border-radius: $base-border-radius $base-border-radius 0 0;
    box-shadow: $base-box-shadow;
      /* Style the buttons inside the tab */
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: $base-padding;
        transition: 0.3s;
        font-size: $base-font-size;
      }
      button:hover {
        background-color: #ccc;
        color: black;
      }
      button.active {
        background-color: #ccc;
        color: white;
      }
      .active:after {
        content: "";
    }
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding:$base-padding;
    border: $base-border-thickness solid #ccc;
    border-top: none;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    box-shadow: $base-box-shadow;
  }