@mixin toggle(){
    font-size:$font-size-lg;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.toggle-right {
    @include toggle();
  }
 
  .toggle-left {
    @include toggle();
    justify-content: flex-start;
  }

@each $key, $val in $colors {
    .toggle-right-#{$key} {
      @include toggle();
      color: lighten($val, 5);
    }
   
    .toggle-left-#{$key} {
      @include toggle();
      color: lighten($val, 5);
      justify-content: flex-start;
    }
  }
   