.fixed{
    position: fixed;
    top: 0;
    left: 0;
}
.sticky{
    position: sticky;
    top: 0;
    left: 0;
}
section{
    margin-bottom: $section-margin-xs;
}

.deskBlock{
    display: none;
}
.mobBlock{
    display: block;
}
@media (min-width:768px) {
    .deskBlock{
        display: block;
    }
    .mobBlock{
        display: none;
    }
    .fixed{
        position: fixed;
        top: 0;
        left: 0;
    }
    .sticky{
        position: sticky;
        top: 0;
        left: 0;
    }
    section{
        margin-bottom: $section-margin-sm;
    }
}