@include md {
    .banner-section{
        margin-bottom: $section-margin-sm;
        .banner-form-part{
            max-width: 320px;
            position: absolute;
            top: 10% ;
            right: 3% ;
        }
    }
  }