@include md {
    .deskBlock{
        display: block;
    }
    .mobBlock{
        display: none;
    }
    section{
        margin-bottom: $section-margin-sm;
    }
    .banner-section{
        margin-bottom: $section-margin-sm;
        .banner-form-part{
            max-width: 25vw;
            position: absolute;
            top: 10% ;
            right: 3% ;
        }
    }
    .modal-content-form-icon{
        flex-direction: column-reverse;
        .modal-icon-part{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
  }

  @include xs{
    th,td{
        padding: $base-padding / 3;
    }
  }
