.temp3-highlights-type-1{
    .highlights-section{
        .high-card-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            h3{
                color: $text-theme;
            }
            p{
                text-transform: uppercase;
            }
            .high-card1{
                border-bottom:1px solid gray;
                border-right:1px solid gray;
              }
              .high-card2{
                border-bottom:1px solid gray;
              }
              .high-card3{
                border-right:1px solid gray;
              }
        }
    }
}

@media (max-width:768px) {
    .temp3-highlights-type-1{
        .highlights-section{
            ul{
                grid-template-columns: 1fr;
            }
        }
    }
}