.cta-type-1{
    .cta-content{
        background: linear-gradient(180deg, rgba(6, 26, 46, 0.9) 0%, rgba(11, 59, 107, 0.621) 100%), url('../../../img/gallery/g3.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        .cta-img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.6rem;
            span{
                border: 0.2rem solid white;
            }
        }
        .cta-img:hover span{
            color: $text-theme;
            border: 0.2rem solid $text-theme;
        }
    }
}