.banner-section{
    position: relative;
    margin-bottom: $section-margin-xs;
    img{
        width: 100%;
    }
    .banner-form-part{
        border-radius: $base-border-radius;
        width: 100%;
        position: static;
        .banner-form-title{
            text-align: center;
            padding: $base-padding;
        }
    }

    .banner-offer-part{
        border-radius: $base-border-radius;
        width: 100%;
        position: static;
        .banner-offer-title{
            text-align: center;
            padding: $base-padding;
        }
        .banner-offers{
            padding: $base-padding;
        }
    }
}
