// cta type 1 start
.cta-type1{
    img{
        width: 25rem;
        margin-top: -23rem;

    }
}
//cta type 1 end

//cta type 2 start
.cta-section-2{
    img{
        margin-top: -21rem;
    }
}
// cta type 2 end

//cta type 2 start
.cta-section-3{
   .cta-content{
    background-color: rgba(0,0,0,0.8);
   }
}
// cta type 2 end