.location-section{
    img{
        border-radius: $base-border-radius;
    }
    iframe{
        border-radius: $base-border-radius;
        box-shadow: $base-box-shadow;
    }
    .location-content{
        font-size: $font-size-lg;
    }
}